<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <remove fileExtension=".md" />
      <mimeMap fileExtension=".md" mimeType="text/plain; charset=utf-8" />
    </staticContent>
  </system.webServer>
</configuration>
